# Basic Linux Kernel Configuration for x86_64

CONFIG_X86=y
CONFIG_X86_64=y
CONFIG_SCHED_HRTICK=y
CONFIG_B63=y
CONFIG_PAGEFLINTER=y
CONFIG_VIRTUALIZATION=y

# Networking options
CONFIG_INET=y
CONFIG_INET6=y
CONFIG_IP_ADVANCED_ROUTER=y
